[Unit]
Description=delivr.dev API
After=network.target
Type=simple
Restart=always
User=nate
ExecStart=python3 /home/nate/delivr-backend/api.py

[Install]
WantedBy=multi-user.target
