{
	email info@delivr.dev
}

delivr.dev {
	root * /home/nate/delivr/docs/build/
	file_server

	log {
		output file /var/log/access-delivr.dev.log {
			roll_size 1gb
			roll_keep 1
			roll_keep_for 7d
		}
	}

	handle_errors {
		@404 {
			expression {http.error.status_code} == 404
		}
		redir @404 /#/404
		file_server
	}
}

dash.delivr.dev {
	root * /home/nate/public/
	file_server

#	@prometheus_config {
#		remote_ip MONITORING_SERVER_IP
#		path /prometheus.yml
#	}
#
#	route @prometheus_config {
#		root * /home/nate/delivr/intra/
#		file_server
#	}

	route /api/* {
		uri strip_prefix /api
		reverse_proxy localhost:5000
	}

	log {
		output file /var/log/access-dash.delivr.dev.log {
			roll_size 1gb
			roll_keep 1
			roll_keep_for 7d
		}
	}

	handle_errors {
		@404 {
			expression {http.error.status_code} == 404
		}
		rewrite @404 /404.html
		file_server
	}
}
