[Unit]
Description=PacketFrame CDN Orchestrator
After=network.target

[Service]
Type=simple
Restart=always
User=nate
WorkingDirectory=/home/nate/backend/
ExecStart=python3 /home/nate/backend/orchestrator.py

[Install]
WantedBy=multi-user.target