#!/bin/bash
ip link del local
ip link add local type dummy
{% for addr in dns["bind_addresses4"] %}
ip addr add {{ addr }}/24 dev local
{% endfor %}
{% for addr in dns["bind_addresses6"] %}
ip addr add {{ addr }}/48 dev local
{% endfor %}
ip addr add {{ dns["resolver4"] }}/24 dev local
ip addr add {{ dns["resolver6"] }}/48 dev local
{% if http %}
ip addr add {{ proxy["server4"] }}/24 dev local
ip addr add {{ proxy["server6"] }}/48 dev local
{% endif %}
ip link set dev local up
