import unique.conf

{% for domain in domains %}
https://{{ domain }} {
    import respond_metadata
    tls /etc/caddy/{{ domain }}-chain.pem /etc/caddy/{{ domain }}-key.pem
    reverse_proxy http://localhost:8000
}
{% endfor %}
