vcl 4.0;

{% for backend in backends -%}
backend {{ backend }} {
    .host = "{{ backends[backend] }}";
    .port = "80";
}
{% endfor -%}

sub vcl_recv {
    {% for domain in domains -%}
    if (req.http.host == "{{ domain }}") {
        set req.http.host = "{{ domain }}";
        set req.backend_hint = {{ domains[domain] }};
    }
    {% endfor %}
}

sub vcl_deliver {
    if (obj.hits > 0) {
        set resp.http.X-Cache = "hit";
    } else {
        set resp.http.X-Cache = "miss";
    }

    # Remove response headers
    unset resp.http.Via;
    unset resp.http.X-Varnish;
    unset resp.http.Age;
    unset resp.http.Last-Modified;
    unset resp.http.Server;
    unset resp.http.Accept-Ranges;
#    set req.http.X-PoP = "fmt";

    if (resp.status == 500 || resp.status == 502 || resp.status == 503 || resp.status == 504) {
        return (synth(resp.status));
    }
}

sub vcl_synth {
    set resp.http.Content-Type = "text/html; charset=utf-8";

    synthetic({"
        <html>
        <head>
           <title>Error "} + resp.status + {" - delivr.dev</title>
            <link rel="stylesheet" href="https://dash.delivr.dev/5xx.css">
            <link rel="icon" type="image/png" href="https://dash.delivr.dev/favicon.png">
        </head>

        <body>
        <div class="navbar">
            <div class="nav-element">
                <a href="https://delivr.dev/">
                    <img style="width: 225px" src="https://dash.delivr.dev/img/full.png" alt="delivr.dev">
                </a>
            </div>

            <div class="nav-element" style="float: right">
                <a href="https://dash.delivr.dev/" style="text-decoration: none;">Dashboard</a>
            </div>
        </div>

       <h1>Error "} + resp.status + {"</h1>
       <h2>"} + resp.reason + {"</h2>
        <div class="container">
            <div class="figure-element">
                <img class="image" src="https://dash.delivr.dev/img/laptop.png" alt="User">
                <div class="text-container">
                    <p>Browser</p>
                    <img class="icon" src="https://dash.delivr.dev/img/check.png" alt="">
                </div>
            </div>

            <div class="figure-element">
                <img class="image" src="https://dash.delivr.dev/img/delivr.png" alt="delivr.dev">
                <div class="text-container">
                    <p>DELIVR.DEV</p>
                    <img class="icon" src="https://dash.delivr.dev/img/check.png" alt="">
                </div>
            </div>

            <div class="figure-element">
                <img class="image" style="height: 125px" src="https://dash.delivr.dev/img/server.png" alt="">
                <div class="text-container">
                    <p>Origin</p>
                    <img class="icon" src="https://dash.delivr.dev/img/cross.png" alt="">
                </div>
            </div>
        </div>

        <div class="footer">
           <p>Error  "} + resp.status + {" origin "} + req.http.host + {" xid "} + req.xid + {"</p>
           <p>&copy; 2020 Nate Sales.</p>
        </div>

        </body>
        </html>
    "});

    return (deliver);
}


sub vcl_backend_error {
    set beresp.http.Content-Type = "text/html; charset=utf-8";

    synthetic({"
        <head>
           <title>Error "} + beresp.status + {" - delivr.dev</title>
           <link rel="stylesheet" href="https://dash.delivr.dev/5xx.css">
           <link rel="icon" type="image/png"href="https://dash.delivr.dev/favicon.png">
        </head>

        <body>
           <div class="navbar">
               <div class="nav-element">
                   <a href="https://delivr.dev/"><img style="width: 225px" src="https://dash.delivr.dev/img/full.png" alt="delivr.dev"></a>
               </div>

               <div class="nav-element" style="float: right">
                   <a href="https://dash.delivr.dev/" style="text-decoration: none;">Dashboard</a>
               </div>
           </div>

           <h1>Error "} + beresp.status + {"</h1>
           <h2>"} + beresp.reason + {"</h2>
           <div class="container">
               <figure>
                   <img style="width: 200px" src="https://dash.delivr.dev/img/laptop.png" alt="User">
                   <figcaption>Browser<span class="icon">✅</span></figcaption>
               </figure>

               <figure>
                   <img style="width: 200px" src="https://dash.delivr.dev/img/delivr.png" alt="delivr.dev">
                   <figcaption>DELIVR.DEV<span class="icon">✅</span></figcaption>
               </figure>

               <figure>
                   <img style="width: 150px" src="https://dash.delivr.dev/img/server.png" alt="">
                   <figcaption>Origin<span class="icon">❌</span></figcaption>
               </figure>
           </div>

           <div class="footer">
               <p>Error  "} + beresp.status + {" origin "} + bereq.http.host + {" xid "} + bereq.xid + {"</p>
               <p>&copy; 2020 Nate Sales.</p>
           </div>
        </body>
    "});

    return (deliver);
}
