options {
    directory "/var/cache/bind";
    statistics-file "/var/run/named/stats";
    recursion no;
    allow-transfer { none; };
    version "PoP {{ ansible_hostname }}";

    listen-on {
    {% for address in bind_addresses4 %}
        {{ address }};
    {% endfor -%}
    };

    listen-on-v6 {
    {% for address in bind_addresses6 %}
        {{ address }};
    {% endfor -%}
    };
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
