Hello!

{{ domain }} has been added to the delivr.dev CDN platform. In case you haven't already, make sure to update your nameservers to the following:

{% for nameserver in nameservers -%}
{{ nameserver }}
{% endfor %}
Cheers,
delivr.dev
