{
    experimental_http3
    admin {{ host }}:2019
}

(respond_metadata) {
    header PoP {{ hostname }}
}

{% for domain in domains %}
https://{{ domain }} {
    import respond_metadata
    tls /etc/caddy/{{ domain }}-chain.pem /etc/caddy/{{ domain }}-key.pem
    reverse_proxy http://localhost:8000
}
{% endfor %}
