{
    experimental_http3
    admin {{ host }}:2019
}

(primary_site) {
    header PoP {{ hostname }}
    header / -Server
}

# https://local.packetframe.com {
#     import primary_site
#
#     tls /etc/caddy/local.packetframe.com-chain.pem /etc/caddy/local.packetframe.com-key.pem
#
#     respond / `{
#         "pop": "{{ inventory_hostname }}",
#         "http": "{{ http }}"
#     }`
# }

{% for domain in domains %}
https://{{ domain }} {
    import primary_site
    tls /etc/caddy/{{ domain }}-chain.pem /etc/caddy/{{ domain }}-key.pem
    reverse_proxy http://localhost:8000
}
{% endfor %}
