define ASN = {{ asn }};

log syslog all;
router id 192.0.2.1;
protocol device {};

protocol direct {
  ipv4;
  ipv6;
}

protocol kernel {
  ipv4 {
    import none;
    export none;
  };
}

protocol kernel {
  ipv6 {
    import none;
    export none;
  };
}

protocol bgp RIPE_RISv4 {
  local as ASN;
  neighbor 193.0.4.28 as 12654;
  multihop 255;
  ipv4 {
    import none;
    export where (ASN,800) ~ bgp_community;
  };
}

protocol bgp RIPE_RISv6 {
  local as ASN;
  neighbor 2001:67c:2e8:2:ffff:0:4:28 as 12654;
  multihop 255;
  ipv6 {
    import none;
    export where (ASN,800) ~ bgp_community;
  };
}

protocol bgp NLNOG_LGv4 {
  local as ASN;
  neighbor 82.94.230.130 as 199036;
  multihop 255;
  ipv4 {
    import none;
    export where (ASN,800) ~ bgp_community;
  };
}

protocol bgp NLNOG_LGv6 {
  local as ASN;
  neighbor 2001:888:2001::130 as 199036;
  multihop 255;
  ipv6 {
    import none;
    export where (ASN,800) ~ bgp_community;
  };
}

protocol bgp HE_RTBGPv4 {
  local as ASN;
  neighbor 64.62.153.100 as 393338;
  multihop 255;
  ipv4 {
    import none;
    export where (ASN,800) ~ bgp_community;
  };
}

protocol bgp HE_RTBGPv6 {
  local as ASN;
  neighbor 2001:470:0:441::50 as 393338;
  multihop 255;
  ipv6 {
    import none;
    export where (ASN,800) ~ bgp_community;
  };
}

template bgp collector_peer {
  local as ASN;

  ipv4 {
    import filter {
        bgp_community.add((ASN,800));
        accept;
    };
    export none;
  };

  ipv6 {
    import filter {
        bgp_community.add((ASN,800));
        accept;
    };
    export none;
  };
}


# Nodes

{% for node in nodes %}
protocol bgp {{ node.upper() }} from collector_peer {
  neighbor {{ nodes[node] }} as ASN;
}
{% endfor %}
