vcl 4.0;

/*
{% for acl in acls -%}
acl {{ acl }} {
{%- for address in acls[acl] %}
    "{{ address }}";
{% endfor -%}
}

{% endfor %}
*/

{% for backend in backends -%}
backend {{ backend }} {
    .host = "{{ backends[backend] }}";
    .port = "80";
}
{% endfor %}

sub vcl_recv {
    {% for domain in domains -%}
    if (req.http.host == "{{ domain }}") {
        set req.http.host = "{{ domain }}";
        set req.backend_hint = {{ domains[domain] }};

        /*
        if (req.method == "PURGE") {
            if (!client.ip ~ {{ normalize(domain) }}) {
                return(synth(405,"Not allowed."));
            }
            return (purge);
        }
        */
    }
    {% endfor %}
}

sub vcl_deliver {
    if (obj.hits > 0) {
        set resp.http.X-Cache = "hit";
    } else {
        set resp.http.X-Cache = "miss";
    }

    # Remove response headers
    unset resp.http.Via;
    unset resp.http.X-Varnish;
    unset resp.http.Age;
    unset resp.http.Last-Modified;
    unset resp.http.Server;
    unset resp.http.Accept-Ranges;
#    set req.http.X-PoP = "fmt";

    if (resp.status == 500 || resp.status == 502 || resp.status == 503 || resp.status == 504) {
        return (synth(resp.status));
    }
}

sub vcl_synth {
    set resp.http.Content-Type = "text/html; charset=utf-8";

    synthetic({"
        <html>
        <head>
           <title>Error "} + resp.status + {"</title>
            <link rel="icon" type="image/png" href="https://packetframe.com/static/img/icon.png">
        </head>

        <style>
            * {
                background-color: black;
                color: white;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
            }

            .container {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                width: 75%;
                margin: auto;
            }

            h1 {
                text-align: center;
                font-size: 3em;
            }

            h2 {
                text-align: center;
            }

            .figure-element {
                text-align: center;
                margin-top: 15px;
                font-size: 1.25em;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-grow: 1;
            }

            .figure-element .image {
                width: 200px;
            }

            .icon {
                height: 50px;
                width: 50px;
            }

            .navbar {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .nav-element {
                max-height: 100%;
                align-items: center;
                cursor: pointer;
                margin: 15px;
                text-decoration: none;
            }

            .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                text-align: center;
            }

            .text-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-grow: 1;
            }
        </style>

        <body>
        <div class="navbar">
            <div class="nav-element">
                <a href="https://packetframe.com/">
                    <img style="width: 225px" src="https://packetframe.com/static/img/logo.png" alt="Logo">
                </a>
            </div>
        </div>

       <h1>Error "} + resp.status + {"</h1>
       <h2>"} + resp.reason + {"</h2>
        <div class="container">
            <div class="figure-element">
                <img class="image" src="https://packetframe.com/static/img/laptop.png" alt="Laptop icon">
                <div class="text-container">
                    <p>Browser</p>
                    <img class="icon" src="https://packetframe.com/static/img/check.png" alt="Check icon">
                </div>
            </div>

            <div class="figure-element">
                <img class="image" src="https://packetframe.com/static/img/icon.png" alt="Icon">
                <div class="text-container">
                    <p>PacketFrame</p>
                    <img class="icon" src="https://packetframe.com/static/img/check.png" alt="">
                </div>
            </div>

            <div class="figure-element">
                <img class="image" style="height: 125px" src="https://packetframe.com/static/img/server.png" alt="Server icon">
                <div class="text-container">
                    <p>Origin</p>
                    <img class="icon" src="https://packetframe.com/static/img/cross.png" alt="Negative icon">
                </div>
            </div>
        </div>

        <div class="footer">
           <p>Error  "} + resp.status + {" origin "} + req.http.host + {" xid "} + req.xid + {"</p>
           <p>&copy; 2020 PacketFrame.</p>
        </div>

        </body>
        </html>
    "});

    return (deliver);
}


sub vcl_backend_error {
    set beresp.http.Content-Type = "text/html; charset=utf-8";

    synthetic({"
        <html>
        <head>
           <title>Error "} + beresp.status + {"</title>
            <link rel="icon" type="image/png" href="https://packetframe.com/static/img/icon.png">
        </head>

        <style>
            * {
                background-color: black;
                color: white;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
            }

            .container {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                width: 75%;
                margin: auto;
            }

            h1 {
                text-align: center;
                font-size: 3em;
            }

            h2 {
                text-align: center;
            }

            .figure-element {
                text-align: center;
                margin-top: 15px;
                font-size: 1.25em;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-grow: 1;
            }

            .figure-element .image {
                width: 200px;
            }

            .icon {
                height: 50px;
                width: 50px;
            }

            .navbar {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .nav-element {
                max-height: 100%;
                align-items: center;
                cursor: pointer;
                margin: 15px;
                text-decoration: none;
            }

            .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                text-align: center;
            }

            .text-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-grow: 1;
            }
        </style>

        <body>
        <div class="navbar">
            <div class="nav-element">
                <a href="https://packetframe.com/">
                    <img style="width: 225px" src="https://packetframe.com/static/img/logo.png" alt="Logo">
                </a>
            </div>
        </div>

       <h1>Error "} + beresp.status + {"</h1>
       <h2>"} + beresp.reason + {"</h2>
        <div class="container">
            <div class="figure-element">
                <img class="image" src="https://packetframe.com/static/img/laptop.png" alt="Laptop icon">
                <div class="text-container">
                    <p>Browser</p>
                    <img class="icon" src="https://packetframe.com/static/img/check.png" alt="Check icon">
                </div>
            </div>

            <div class="figure-element">
                <img class="image" src="https://packetframe.com/static/img/icon.png" alt="Icon">
                <div class="text-container">
                    <p>PacketFrame</p>
                    <img class="icon" src="https://packetframe.com/static/img/check.png" alt="">
                </div>
            </div>

            <div class="figure-element">
                <img class="image" style="height: 125px" src="https://packetframe.com/static/img/server.png" alt="Server icon">
                <div class="text-container">
                    <p>Origin</p>
                    <img class="icon" src="https://packetframe.com/static/img/cross.png" alt="Negative icon">
                </div>
            </div>
        </div>

        <div class="footer">
           <p>Error  "} + beresp.status + {" origin "} + bereq.http.host + {" xid "} + bereq.xid + {"</p>
           <p>&copy; 2020 PacketFrame.</p>
        </div>

        </body>
        </html>
    "});

    return (deliver);
}
