Hello!

{{ domain }} is on delivr.dev but it's nameservers haven't been properly configured on your end. We're seeing the following error:

{{ error }}

Make sure to update your nameservers to the following:
{% for nameserver in nameservers -%}
{{ nameserver }}
{% endfor %}
Cheers,
delivr.dev
