Hello!

A proxied record has been added to your domain, {{ domain }}. The PacketFrame caching proxy is a highly experimental feature and therefore requires manual verification by an administrator. Please allow up to 48 hours for an admin to take a look.

In case you haven't already, make sure at least one of your domain's authorized users has created an ACL for protected HTTP operations.

As always, feel free to send an email to info@packetframe.com if you need anything!

Cheers,
PacketFrame
