Hello!

Welcome to the PacketFrame CDN platform {{ email }}! While the service is in beta, accounts are activated manually - usually within 48 hours if you've already been verified. In the mean time, feel free to check out the docs at https://packetframe.com/docs or source code at https://github.com/packetframe/cdn

How did you hear about PacketFrame?
{{ message }}

Feel free to send an email to info@packetframe.com if you need anything!

Cheers,
PacketFrame
