Hello!

Welcome to the delivr.dev CDN platform! While the service is in beta, accounts are activated manually - usually within 48 hours if you've already been verified. In the mean time, feel free to check out the docs at https://delivr.dev/docs/record-management or source code at https://github.com/natesales/delivr

Feel free to send an email to info@delivr.dev if you need anything!

Cheers,
delivr.dev
