$TTL	86400
@	IN	SOA  {{ nameservers[0] }}. {{ rname }}. (
                     {{ serial }}         ; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			  86400 )	; Negative Cache TTL
{% for nameserver in nameservers -%}
@	IN	NS	{{ nameserver }}.
{% endfor %}

{%- for record in records -%}
{% if not record["pinned_nodes"] -%}
{%- if record["proxied"] %}
{{ record["label"] }}    60    IN    A    {{ proxy4 }}
{{ record["label"] }}    60    IN    AAAA    {{ proxy6 }}
{%- else %}
{{ record["label"] }}    {{ record["ttl"] }}    IN    {{ record["type"] }}    {{ record["value"] }}
{%- endif %}
{%- elif node in record["pinned_nodes"] -%}
{%- if record["proxied"] %}
{{ record["label"] }}    60    IN    A    {{ proxy4 }}
{{ record["label"] }}    60    IN    AAAA    {{ proxy6 }}
{%- else %}
{{ record["label"] }}    {{ record["ttl"] }}    IN    {{ record["type"] }}    {{ record["value"] }}
{% endif %}
{% endif %}
{% endfor %}
